<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Parametriced Directives Test</title>
 
    
  </head>
 
  <body>
     Speaker 1 says:<input ng-model="Person1" type="text"/> 
      <test person1={{Person1}}></test>
</body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="directives.js"></script>
</html>