<div ng-repeat="item in directive_test_controller.items" 
     ng-class="{'selected': item == directive_test_controller.selected1 || item == directive_test_controller.selected2}"
     ng-click="directive_test_controller.select(item)">
    {{item}}
</div>
<br>
<test type="button" ng-show="directive_test_controller.selected2" id="directive_test_controller.compare"></test>