<form name="myform">
    <input type="text"  id="name" name="name" ng-model="transport_test_controller.name" required ><br>
    <input type="text" id="surname" name="surname" ng-model="transport_test_controller.surname" required><br>
    <input type="text" id="pass" name="pass" ng-model="transport_test_controller.pass" required><br>
    
    <input ng-show="myform.name.$valid && myform.surname.$valid && myform.pass.$valid" 
    type="button" ng-click="transport_test_controller.enviar()" value="Submit">
</form>