<!DOCTYPE html>
<html ng-app="test" >
    <head>
        <meta charset="utf-8">
        <title>Toaster Test</title>
    </head>
    <body ng-controller="toaster_test as test">
        <input type="text" ng-model="test.text">
        <input type="button" ng-click="test.custom_toaster(test.text)" value="Press the button">
    </body>
	<!-- librerias -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" ></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.js"></script>
        <script src="app.js"></script>
	<!-- librerias -->
</html>