<div><br>
    <span>{{form_test_controller.tittle}}</span>
    <br><br>
    <form name="myform">
        <input type="text"  id="name" name="name" ng-model="form_test_controller.name" ng-pattern="form_test_controller.regex"><br>
        <input type="text" id="pass" name="pass" ng-model="form_test_controller.pass" required><br>
        <input ng-show="myform.name.$valid && myform.pass.$valid" type="button" value="Submit"
               ng-click="form_test_controller.pinta_el_array_cuando_la_condicion_de_los_inputs_se_cumpla()">
    </form>
        <ul><li ng-repeat="item in form_test_controller.array_test">{{item}}</li></ul><br><br>
</div>