<html ng-app="app">

    <head>
        <title>AngularJS App</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" ></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" ></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js" ></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="app.js"></script>
    </head>

  
    <body>
        <div ng-controller="AppController as app">
            <div drop-zone ng-model="app.data.upload" class="one">
                <!-- Transcluded content -->
                <img ng-repeat="file in app.data.upload" ng-if="file.type.indexOf('image')!==-1" ng-src="{{file.data}}" />    
                <p>Drop files here <span>(or click to upload)</span></p>
            </div>
            
            <!-- Show images -->
            <input type="button"  ng-click="app.upload()" value="Send"/>
            <input type="button"  ng-click="app.delete()" value="Delete Image"/>          
            
        </div>



        
        
        
        
    </body>

</html>