.pure_modal {
    position: fixed; margin: auto;
    top:0;left:0;right:0;bottom:0;
    background: rgba(34,34,68,.8);
    box-sizing: content-box;
    visibility: hidden; opacity: 0;
    transition: all .12s; z-index: 99;
    }
    .pure_modal.visible {
    visibility: visible; opacity: 1;
    }
    .pure_modal * {box-sizing: inherit}
    .pure_modal .panel {
    position: absolute; margin: auto;
    top:0;left:0;right:0;bottom:0;
    max-width: 600px; max-height: 70vh;
    background: white; border-radius: 10px;
    color: #000; padding: 50px 0;
    transform: translateY(-25%);
    transition: all .12s;
    }
    .pure_modal.nofooter .panel {
    padding: 50px 0 0 0;
    }
    .pure_modal.visible .panel {
    transform: none;
    }
    .pure_modal .title {
    position: absolute; top: 0;
    width: 100%; height: 50px;
    line-height: 50px;
    background: white;
    font-weight: bolder; padding: 0 2em;
    box-shadow: 2px 0 10px rgba(0,0,0,.6);
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    .pure_modal .panel .close {
    position: absolute; top: .25em; right: .75em;
    cursor: pointer; font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .pure_modal .panel .content {
    max-height: 100%; overflow: auto;
    padding: 1em; box-sizing: border-box;
    }
    .pure_modal .panel .content iframe:only-child {
    border: 0; width: 100%;
    height: 100%; height: 80vh;
    min-height: 200px;
    }
    .pure_modal .panel .content img:only-child {
    width: 100%; max-width: 100%;
    }
    .pure_modal .panel .footer {
    position: absolute; bottom: 0;
    width: 100%; background: rgb(252, 252, 252);
    font-weight: bolder; padding: 0 .5em;
    box-shadow: 2px 0 10px rgba(0,0,0,.6);
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    }
    .pure_modal .panel .footer .action {
    border-radius: 10px; color: #000;
    background: #fff; border: 0;
    min-width: 80px; min-height: 35px;
    font-weight: bold; cursor: pointer;
    margin-left: 20px;
    transition: all .12s;
    }
    .pure_modal .panel .footer .action:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    }
    
    
    button {
      border: none;
      background: #fff;
      padding: 1rem;
      margin: 1rem .5rem;
      font-size: 1.2rem;
      font-variant: small-caps;
      transition: all .5s;
      cursor: pointer;
      box-shadow: inset 0 0 0 rgba(0,0,0,1);
    }
    button:hover {
      color: #fff;
      box-shadow: inset 0 0 0 10rem rgba(34, 34, 65, .68);
    }
    